.main-container {
  border: 1px solid whitesmoke;
  display: grid;
  grid-template-columns: 80% 20%;
}

.my-widget1,
.my-widget2,
.my-widget3 {
  width: 50px;
  background-color: rgb(236, 231, 231);
  height: 50px;
  padding: 20px 10px;
  margin: 10px;
  border: 1px solid blue;
}
.content {
  padding: 30px;
}
.textchanged {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
}
.controllers {
  background-color: wheat;
  margin: 2rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.content_container {
  margin: 30px 6rem 30px 6rem;
}
